*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.0625rem;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 115deg,rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), 
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}


header{
    text-align: center;
    margin: 0 auto;
    width: 65%;
}

#title{
    color: white;
    font-size: 1.8rem;
    margin: 40px 0 0 0;
}

header p{
    color: white;
    margin: 3px 0 30px 0;
}


form{
    max-width: 680px;
    min-width: 400px;
    width: 65%;
    margin: 0 auto;
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    border-radius: 5px;
    padding: 30px 50px;
    
}

fieldset{
    border: none;
}

label{
    display: block;
    margin: 15px 0;
}

#inputs{
    display: block;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 2.5rem;
    margin: 4px 0;
    padding: 0 0px;
}

.first{
    font-size: 0.8rem;
}

.first::placeholder{
    font-size: 0.94rem;
}

.second{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1.0rem;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;
}

option{
    font-size: 0.9rem;
    padding: 100px;
}


#radio{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

#checkbox{
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

::placeholder {
    padding: 10px 10px;
    font-size: 1.0rem;
    color:#495057
  }

#sg{
    width: 100%;
    height: 120px;
    min-height: 120px;
    resize: vertical;
    padding: 7px;
}
  
#sg::placeholder {
    padding: 10px 3px;
    font-size: 15px;
    color:#495057
  }

